P#bandeau {
    color: #FF0000;
    width: 20px /*Largeur du texte*/
}

div#bandeau {
    width: 500px;
    height: 250px;
}

div#contenu {
    width: 600px; 
    height: 650px;
}

div#piedpage {
    width: 500px;
    height: 200px;
    clear: both;
}
/* Début paramétre tableau*/
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}
/* Fin paramétre tableau*/